:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --font-family: 'Trebuchet MS', sans-serif;
    --font-size: 16px;
    --background-color: #f4f4f4;
    --text-color: #333333;
}